<?xml version="1.0"?>

<config>
<modules>
    <CC_CatalogCustomization>
        <version>0.0.1</version>
    </CC_CatalogCustomization>
</modules>
<global>
    <models>
        <cc_catalog_customization>
            <class>CatalogCustomization</class>
        </cc_catalog_customization>
    </models>
</global>
<frontend>
    <events>
        <catalog_product_get_final_price>
            <observers>
                <cc_catalog_price_observer>
                    <type>singleton</type>
                    <class>CC_CatalogCustomization_Model_Price_Observer</class>
                    <method>applyDiscountPercent</method>
                </cc_catalog_price_observer>
            </observers>
        </catalog_product_get_final_price>
    </events>
<events>
    <catalog_product_collection_load_after>
            <observers>
                <cc_catalog_price_observer>
                    <type>singleton</type>
                    <class>CC_CatalogCustomization_Model_Price_Observer2</class>
                    <method>applyDiscountPercent2</method>
                </cc_catalog_price_observer>
            </observers>
        </catalog_product_collection_load_after>
    </events>
</frontend>
</config>