<config>
    <modules>
        <MP_Photo>
            <version>0.1.0</version>
        </MP_Photo>
    </modules>
    <frontend>
        <routers>
            <mp_photo>
                <use>standard</use>
                <args>
                    <module>MP_Photo</module>
                    <frontName>mp_photo</frontName>
                </args>
            </mp_photo>
        </routers>
            <layout>
                <updates>
                    <mp_photo module="MP_Photo">
                        <file>mp_photo.xml</file>
                    </mp_photo>
                </updates>
            </layout>
    </frontend>
    <global>
        <helpers>
            <mp_photo>
                <class>MP_Photo_Helper</class>
            </mp_photo>
        </helpers>
            <resources>
                <mp_photo_setup>
                    <setup>
                        <module>MP_Photo</module>
                        <class>Mage_Customer_Model_Entity_Setup</class>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </mp_photo_setup>
            </resources>
    </global>
</config>