<?xml version="1.0" ?>
<config>
    <modules>
        <CC2_Video>
            <version>0.1.0</version>
        </CC2_Video>
    </modules>

    <global>
        <resources>
            <cc2_video_setup>
                <setup>
                    <module>CC2_Video</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <cc2_video_read>
                    <use>core_read</use>
                </cc2_video_read>
                <cc2_video_write>
                    <use>core_write</use>
                </cc2_video_write>
            </cc2_video_setup>
        </resources>
    </global>
</config>

